PORT=8000
DATABASE_URL=postgresql://postgres:postgres@orders-db.devops-nexus.svc.cluster.local:5432/orders
PRODUCTS_SERVICE_URL=http://products-service.devops-nexus.svc.cluster.local:8000
LOG_LEVEL=info
