PORT=8080
AUTH_SERVICE_URL=http://auth-service.devops-nexus.svc.cluster.local:8000
USERS_SERVICE_URL=http://users-service.devops-nexus.svc.cluster.local:8000
PRODUCTS_SERVICE_URL=http://products-service.devops-nexus.svc.cluster.local:8000
ORDERS_SERVICE_URL=http://orders-service.devops-nexus.svc.cluster.local:8000
LOG_LEVEL=info
